# Application Environment (development | preview | production)
EXPO_PUBLIC_APP_ENV=development

# API Configuration
EXPO_PUBLIC_API_URL=

# Build-time only secrets (no EXPO_PUBLIC prefix - NOT accessible in src folder)

EXPO_PUBLIC_WEBSOCKET_URL=
EXPO_PUBLIC_BLE_AES_KEY=

EXPO_PUBLIC_CLOUDINARY_UPLOAD_CLOUD_NAME=
EXPO_PUBLIC_CLOUDINARY_UPLOAD_API_KEY=
EXPO_PUBLIC_CLOUDINARY_UPLOAD_API_SECRET=
EXPO_PUBLIC_CLOUDINARY_UPLOAD_PRESET=

EXPO_PUBLIC_CLOUDINARY_UPLOAD_ASSET_CLOUD_NAME=
EXPO_PUBLIC_CLOUDINARY_UPLOAD_ASSET_API_KEY=
EXPO_PUBLIC_CLOUDINARY_UPLOAD_ASSET_API_SECRET=
EXPO_PUBLIC_CLOUDINARY_UPLOAD_ASSET_PRESET=
